requests
pydantic
google-cloud-storage
PyMuPDF
pytesseract
Pillow
tqdm
supabase
google-generativeai
python-multipart
python-dotenv
fastapi  # Keep if you plan to use FastAPI for your web framework
uvicorn  # Keep if you plan to use Uvicorn to run your FastAPI app
httpx    # Keep as it's a dependency for some libraries
